@page "/"

<PageTitle>Home</PageTitle>

<div class="card mb-3">
    <img src="https://media.discordapp.net/attachments/1197719248538185919/1245213801700392990/maxresdefault.png?ex=6657ef39&is=66569db9&hm=0a04551630ffd275a5dc5b7a1ffe1689b0358cebe1c0459ca28afed15d7b1d75&=&format=webp&quality=lossless&width=840&height=473" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">ALL MIND</h5>
        <p class="card-text">Bienvenido a ALLMIND, el sistema de apoyo para mercenarios</p>
    </div>
</div>