<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">All Mind</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Empresas">
                <span class="bi bi-bank" aria-hidden="true"></span> Empresas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ArmoredCore">
                <span class="bi bi-robot" aria-hidden="true"></span> Armored Cores
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Pilotos">
                <span class="bi bi-file-person-fill" aria-hidden="true"></span> Pilotos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Misiones">
                <span class="bi bi-calendar-check-fill" aria-hidden="true"></span> Misiones
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Partes">
                <span class="bi bi-gpu-card" aria-hidden="true"></span> Partes
            </NavLink>
        </div>
    </nav>
</div>

